Repository csvenke/react-semantic-render, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, src, test, ci

refactor: remove eslint, add prettier, cleanup dependencies
  .eslintrc.js
  babel.config.js
  commitlint.config.js
  jest.config.js
  package.json
  release.config.js
  rollup.config.js
  src/List.js
  src/Show.js
  src/Switch.js
  src/index.d.ts
  src/index.js
  src/utils/getRenderMethod.js
  src/utils/isEmptyChildren.js
  src/utils/isFunction.js
  src/utils/render.js
  src/utils/resolveRenderMethod.js
  test/List.spec.js
  test/Show.spec.js
  test/Switch.spec.js
  yarn.lock
Labels: repo, src, test

chore: update babel
  package.json
  yarn.lock
Labels: repo

chore: pin devdependencies
  package.json
  yarn.lock
Labels: repo

chore: pin semantic-release
  package.json
  yarn.lock
Labels: repo

chore(deps): add renovate.json
  renovate.json
Labels: repo

chore(deps): add renovate.json
  renovate.json
Labels: repo

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: repo

fix: add semantic-release git plugin
  package.json
  release.config.js
  yarn.lock
Labels: repo

fix: add package.json to asset array
  release.config.js
Labels: repo

Notes added by 'git notes add'
  5dd29e476b96ac159347934ea7157090046dfa05
Labels: repo

ci: update gitlab workflow names
  .github/workflows/master-workflow.yml
  .github/workflows/pull-request-workflow.yml
Labels: ci

ci: rename pull request workflow
  .github/workflows/pull-request-workflow.yml
Labels: ci

ci: rename pull request workflow
  .github/workflows/pull-request-workflow.yml
Labels: ci

docs: update readme
  README.md
Labels: repo

feat: add no side effects optimization
  package.json
  rollup.config.js
Labels: repo

Notes added by 'git notes add'
  f5cbd88a253f883bb57304d49d66800130dba083
Labels: repo

chore(deps): update dependency @babel/preset-env to v7.9.5
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency rollup to v2.3.4
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency rollup to v2.3.4
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency @babel/preset-env to v7.9.5
  package.json
  yarn.lock
Labels: repo

ci: enable renovate automerge
  renovate.json
Labels: repo

ci: fix semantic-release plugin order
  release.config.js
Labels: repo

refactor: update prettier config
  .prettierignore
  README.md
  package.json
  prettier.config.js
Labels: repo

ci: update pull request workflow
  .github/workflows/pull-request-workflow.yml
Labels: ci

feat: support passing string to children in Show component
  src/utils/isString.js
  src/utils/resolveRenderMethod.js
  test/Show.spec.js
  test/__snapshots__/Show.spec.js.snap
Labels: src, test

chore(deps): add types for node and jest
  package.json
  yarn.lock
Labels: repo

chore(deps): pin dependencies
  package.json
  yarn.lock
Labels: repo

Notes added by 'git notes add'
  5902091f784c2807d21550927fbf78bcfd32421d
Labels: repo

chore(deps): pin dependencies
  package.json
  yarn.lock
Labels: repo

chore(deps): update jest monorepo to v25.3.0
  package.json
  yarn.lock
Labels: repo

chore(deps): update jest monorepo to v25.3.0
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency @types/node to v13.11.1
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency @types/node to v13.11.1
  package.json
  yarn.lock
Labels: repo

ci: add prettier check in master and pull request workflow
  .github/workflows/master-workflow.yml
  .github/workflows/pull-request-workflow.yml
  package.json
Labels: repo, ci

chore(deps): update dependency @csvenke/prettier-config to v2
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency @csvenke/prettier-config to v3
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency lint-staged to v10.1.3
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency lint-staged to v10.1.3
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency husky to v4.2.4
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency husky to v4.2.4
  package.json
  yarn.lock
Labels: repo

.github/labeler.yml:

repo:
  - ./*

src:
  - src/**/*.js

test:
  - test/**/*.js

ci:
  - ".github/**/*"
